body {
    font-family:Arial,sans-serif;
    margin:20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table,th,td {
     border: 1px solid black;
     
}
th {
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
td{
    padding: 10px;
    text-align: center;
}

/* Navbar styles for large screens */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
header,footer{
    background-color: #333;
}